[Desktop Entry]
Type=Application
Name=GameGlass Hub
GenericName=Game Controller Companion
Comment=Immersive touch experiences for the games you love
Exec=gameglass-hub %U
Icon=gg.gameglass.hub
Terminal=false
Categories=Game;
Keywords=gaming;controller;touchscreen;overlay;streamdeck;macro;
MimeType=x-scheme-handler/gg;
StartupNotify=false
StartupWMClass=GameGlass Hub
